@import '../../styles/variables';
.logo{
	max-width:65px;
}
.logoWrap{
	cursor: pointer;
}
.linkMenu{
	padding:0.5rem 1rem;
	color:#000;
	font-weight: 400;
	font-size: 1rem;
	transition: .3s ease;
	&:hover{
		color:$primary-color;
	}
}


.divider{
	margin: 0 2rem !important;
	height: 40px !important;
	align-items: center;
}

.link{
	cursor: pointer;
}

.iconColor{
	color:#000;
}

@include max-media($tb-w){
	.divider{
		margin: 0 1rem !important;
	}
}
